* {
	margin: 0;
	padding: 0;
}

html {
	background: url(pictures/BUCOLICO_01.jpg?v=2) no-repeat center center fixed;
	background-size: cover;
	height:100%;
	min-height:100%;
  font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
}
html#main {
	color: rgba(255,255,255,0.4);
}
html#about {
	color: rgb(30,30,30);
}

#page-wrap {
	width: 40rem;
	margin: 2.5rem auto;
	padding: 2rem;
	font-size: 1.7rem;
	line-height: 2.6rem;
	background-color: rgba(215, 215, 215, 0.9);
	box-shadow: 0 0 20px rgba(30,30,30,0.3);
}

p {
	margin: 0 0 2rem 0;
	/* font-size: 1.5rem; */
	text-indent: 0rem;
}
p:last-child {
	margin-bottom: 0;
}

.credits {
	margin: 0.8rem 0;
}

#footer {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}


#footer a {
	padding: 0 1rem;
  text-decoration: none;
  transition: color,font-size 0.5s,0.8s ease;
	/* transition: font-size 0.8s ease; */
}

#footer:hover {
	font-size: 3rem;
}

#footer.dark a {
	color: inherit;
}

#footer.dark a:hover {
  color: rgb(240, 240, 240);
}

#footer.light a {
	color: rgb(40,40,40);
	font-weight: 900;
}

#footer.light a:hover {
  color: rgb(10, 10, 10);
}
