*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: url(pictures/BUCOLICO_003.jpg?v=1) no-repeat center center fixed;
	background-size: cover;
	height:100%;
	min-height:100%;
  font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
}
html#main { color: rgba(255,255,255,0.4); }

#thecanvas {
display: block;
position: absolute;
width: 100vw;
height: 100vh;
background-color: #000000a0;
opacity: 0;
transition: opacity 1s ease;
}
#thecanvas.show {
	opacity: 1;
}


html#about { color: rgb(30,30,30); }

section { margin: 0 auto; }

#page-wrap {
	width: 50rem;
	margin: 2.5rem auto;
	padding: 2rem;
	font-size: 1.7rem;
	line-height: 2.6rem;
	background-color: rgba(215, 215, 215, 0.9);
	box-shadow: 0 0 20px rgba(30,30,30,0.3);
}

p {
	margin: 0 0 2rem 0;
	text-indent: 0rem;
}
p:last-child {
	margin-bottom: 0;
}

.credits {
	margin: 0.8rem 0;
}

.icon.back.arrow {
	position: absolute;
	bottom: 1em;
	right: 1em;
	width: 0.8em;
	font-size: 20px;
	opacity: 0.4;
	transform: rotateY(180deg);
}

#page-wrap>a {
	display: block;
	position: relative;
}

#footer {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}

#footer a {
	padding: 0 1rem;
  text-decoration: none;
  /* transition: color,font-size 0.5s,0.8s ease; */
}

/* #footer:hover { font-size: 3rem; } */

#footer.dark a { color: inherit; }

#footer.dark a:hover { color: rgb(240, 240, 240); }

#footer.light a {
	color: #e3dcdcd4;
	font-weight: 900;
	transition: color 0.5s ease;
}

#footer.light a:hover { color: #fff; }

.menu {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 6em;
  margin: 2%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 6em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	opacity: 0.7;
}
.menu.open {
	opacity: 1;
	transition: opacity 0.5s ease;
}
.menu span {
	position: absolute;
	width: 4em;
	height: 0.8em;
	left: 1.6em;
  background: #828282bf;
  border-radius: 2em;
	-webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.2s ease-in-out;
				  transition: 0.2s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu span:nth-child(1) {
  top: 1.6em;
}
.menu span:nth-child(2) {
  top: 3.2em;
}
.menu span:nth-child(3) {
  top: 4.8em;
}
.open.menu span:nth-child(1) {
  -webkit-transform: translateY(1.6em);
          transform: translateY(1.6em);
}
.open.menu span:nth-child(3) {
  -webkit-transform: translateY(-1.6em);
          transform: translateY(-1.6em);
}

.menu:before {
	display: block;
	background-color: rgba(128, 128, 128, 0.36);
	width: 120%;
	height: 120%;
	content: '';
	border-radius: 100%;
}

.icon {
	padding: 0em;
	font-size: 6px;
}

#themenu {
	display: grid;
	position: fixed;
	bottom: 3.3em;
	right: 0.5em;
	text-align: right;
	border-radius: 10px;
	opacity: 0;
	transition: opacity 1s ease;
}

#themenu.show {
	opacity: 1;
}
