* {
	margin: 0;
	padding: 0;
}

html { 
	background: url(pictures/DSC_0708.JPG) no-repeat center center fixed;
	background-size: cover;
	height:100%;
	min-height:100%;
	font-family: 'THSarabunNewRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	color: rgba(255,255,255,0.3);
}
		
#page-wrap {
	width: 400px;
	margin: 50px auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}

p {
	font: 15px/2 Georgia, Sans;
	margin: 0 0 30px 0;
	text-indent: 0px;
}

#footer {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 0.5rem 2rem;
  font-size: 3rem;
}

#footer a {
  padding: 0.5rem;
  color: inherit;
  text-decoration: none;
}

#footer a {
  padding: 0 1rem;
  transition: color 0.5s ease;
}

#footer a:hover {
  color: rgb(221, 221, 221);
}
